# Maven
target/

# Eclipse
.classpath
.project
.cproject
.settings

# Eclipse PDE uncleaned artifacts
file:/

# IntelliJ
*.iml
.idea/

# VScode
.vscode/
org.sonarlint.eclipse.core.tests/bin/
org.sonarlint.eclipse.core/bin/
org.sonarlint.eclipse.jdt/bin/
org.sonarlint.eclipse.m2e/bin/
org.sonarlint.eclipse.pdt/bin/
org.sonarlint.eclipse.ui/bin/

# build products
org.sonarlint.eclipse.core/plugins/
org.sonarlint.eclipse.core/lib/
org.sonarlint.eclipse.ui/lib/
org.sonarlint.eclipse.pdt/lib/*
**/sloop/

# macOS files
**/.DS_Store

# Integration tests
!/its/projects/connected/.project

# Visual Studio
.vs
